/* Global Styles */
body, .invitation-container {
    font-family: 'Noto Serif KR', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.invitation-container {
    font-size: 16px;
    border: 5px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.invitation-header h2 {
    text-align: center;
    color: #2c3e50;
}

.invitation-image img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.invitation-image p {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

.mohshingeul-section p, .caption p, .calendar-section p, .guestbook-section p {
    text-align: center;
    line-height: 1.6;
}

/* Gallery Styles */
.gallery {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
}

.slide img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

/* Button Styles for Gallery */
button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

/* Calendar Styles */
.calendar img {
    display: block;
    margin: 20px auto;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.calendar-section h4 {
    text-align: center;
    font-size: 24px;
}

/* Guestbook Styles */
.guestbook-section textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.guestbook-section button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.guestbook-section {
    width: 80%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

#message-input {
    width: 70%;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

/* Footer Styles */
.invitation-footer {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f9;
    margin-top: 20px;
}

.map {
    width: 100%;
    height: 300px;
    border: 2px solid black;
}

.share-buttons button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #FEE500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.share-buttons button:nth-child(2) {
    background-color: #00C300;
}

.customoverlay {
    position: relative;
    bottom: 85px;
    border-radius: 6px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ddd;
    float: left;
}

.customoverlay:nth-of-type(n) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}

.customoverlay a {
    display: block;
    text-decoration: none;
    color: #000;
    text-align: center;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    background: #d95050;
    background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;
}

.customoverlay .title {
    display: block;
    text-align: center;
    background: #fff;
    margin-right: 35px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
}

.customoverlay:after {
    content: '';
    position: absolute;
    margin-left: -12px;
    left: 50%;
    bottom: -12px;
    width: 22px;
    height: 12px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png');
}

/* Media Queries */
@media (max-width: 768px) {
    .invitation-container {
        font-size: 14px;
        padding: 10px;
    }

    .invitation-image p {
        font-size: 20px;
    }

    .calendar-section h4 {
        font-size: 20px;
    }

    button.prev, button.next {
        padding: 5px;
    }

    .share-buttons button {
        width: 100%;
        margin: 5px 0;
    }
}
